<div id="anychat-livechat-admin-root"></div>
<script type="text/javascript">
  var anychatWidget = window.anychatWidget || {
    mainButton: true,
    widgetID: '{{ settings.anychat_widget_id }}',
    apiKey: '{{ settings.anychat_api_key }}',
    showNewMessagePopup: true,
    moduleCongigUrl: '{{ moduleAdminUrl|raw }}'
  };
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
        return;
    }
    js = d.createElement(s); js.id = id;
    js.src = 'https://api.anychat.one/widget/{{ settings.anychat_widget_id }}/admin-livechat-js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'contactus-jssdk'));
</script>